
modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Test"

[[workflows.workflow]]
name = "Build and Test"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/${REPL_SLUG}/build && cmake .. && make && ./network_tests --gtest_filter=FileServerTest.*"

[[ports]]
localPort = 12345
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "cd /home/runner/${REPL_SLUG}/build && cmake .. && make && ./network_tests --gtest_filter=FileServerTest.*"]
